$main-font-color:					#423931;
$main-font-size:					12px;
$main-color: 						#c8dfe3;
$main-border-color: 				#b8afad;
$main-font-family:					BrandonGrotesque-Light;

@font-face {
font-family: BrandonGrotesque-Light;
src: url("../fonts/BrandonGrotesque-Light.otf") format("opentype");
}