#hero-container {
	width: 90%;
	margin: 200px auto 0 auto;
	height: 240px;
	animation-delay: 1s;
	// border-bottom: 1px solid #565656;
	h1 {
		font-family: $main-font-family;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 40px;
		font-weight: lighter;
		text-align: center;
		width: 50%;
		margin: 150px auto 10px auto;
	}
	p {
		width: 40%;
		font-size: 20px;
		text-align: center;
		margin: 0 auto 20px auto;
		letter-spacing: 1px;
	}
}
.button-container {
		width: 100%;
		margin-bottom: 150px;
		text-align: center;
		.button-1,
		.button-2 {
			margin-left: 20px;
			margin-right: 20px;
			letter-spacing: 1px;
			padding: 10px;
			width: 200px;
			display: inline-block;
			background: $main-color;
			text-transform: uppercase;
			font-weight: lighter;
			-webkit-transition: 1s ease;
			transition: 1s ease;
			animation-delay: 1.5s;
			span {
				font-family: 'Open Sans';
				color: #423931;
				text-align: center;
			}
		}
		.button-1:hover {
			opacity: 0.8;
			color: white;
			cursor: pointer;
			background: tomato;
		}
		.button-2:hover {
			opacity: 0.8;
			color: white;
			cursor: pointer;
			background: tomato;
		}
	}
.rabbit-icon {
		transition: 1s ease;
		overflow: hidden;
		width: 100%;
		border-bottom: 1px solid $main-border-color;
		margin: 20px auto;
		text-align: center;
		img {
			width: 100px;
			transition: 1s ease;
			animation-delay: 2s;
		}
}
